# Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib as plt
import seaborn as sns
sns.set()

# Apply fix to the stats model library
from scipy import stats
stats.chisqprob = lambda chisq, df:stats.chi2.sf(chisq, f)

In [2]:
raw_data = pd.read_csv('2.02. Binary predictors.csv')
raw_data

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
5    1755      Yes  Female
6    1775      Yes  Female
7    1887      Yes  Female
8    1893      Yes  Female
9    1580       No    Male
10   1857      Yes  Female
11   1880      Yes  Female
12   1664      Yes  Female
13   1364       No    Male
14   1693       No    Male
15   1850      Yes  Female
16   1633       No    Male
17   1634       No    Male
18   1636      Yes  Female
19   1855      Yes  Female
20   1987      Yes  Female
21   1997      Yes    Male
22   1422       No  Female
23   1508       No  Female
24   1720      Yes  Female
25   1879      Yes    Male
26   1634      Yes  Female
27   1802      Yes    Male
28   1849      Yes  Female
29   1764      Yes  Female
..    ...      ...     ...
138  1412       No  Female
139  1557       No    Male
140  1821      Yes    Male
141  1760      Yes  Female
142  1685      Yes    Male
143  1773      Yes  Female
144  1826      Yes  Female
145  1565       No  Female
146  1510       No    Male
147  1374       No    Male
148  1402       No    Male
149  1702      Yes    Male
150  1956      Yes  Female
151  1933      Yes    Male
152  1832      Yes    Male
153  1893      Yes    Male
154  1831      Yes  Female
155  1487       No    Male
156  2041      Yes  Female
157  1850      Yes    Male
158  1555       No  Female
159  2020      Yes  Female
160  1593       No    Male
161  1934      Yes  Female
162  1808      Yes    Male
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [3]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1, 'No':0})
data['Gender'] = data['Gender'].map({'Female':1, 'Male':0})
data

      SAT  Admitted  Gender
0    1363         0       0
1    1792         1       1
2    1954         1       1
3    1653         0       0
4    1593         0       0
5    1755         1       1
6    1775         1       1
7    1887         1       1
8    1893         1       1
9    1580         0       0
10   1857         1       1
11   1880         1       1
12   1664         1       1
13   1364         0       0
14   1693         0       0
15   1850         1       1
16   1633         0       0
17   1634         0       0
18   1636         1       1
19   1855         1       1
20   1987         1       1
21   1997         1       0
22   1422         0       1
23   1508         0       1
24   1720         1       1
25   1879         1       0
26   1634         1       1
27   1802         1       0
28   1849         1       1
29   1764         1       1
..    ...       ...     ...
138  1412         0       1
139  1557         0       0
140  1821         1       0
141  1760         1       1
142  1685         1       0
143  1773         1       1
144  1826         1       1
145  1565         0       1
146  1510         0       0
147  1374         0       0
148  1402         0       0
149  1702         1       0
150  1956         1       1
151  1933         1       0
152  1832         1       0
153  1893         1       0
154  1831         1       1
155  1487         0       0
156  2041         1       1
157  1850         1       0
158  1555         0       1
159  2020         1       1
160  1593         0       0
161  1934         1       1
162  1808         1       0
163  1722         1       1
164  1750         1       0
165  1555         0       0
166  1524         0       0
167  1461         0       0

[168 rows x 3 columns]

# Declare the dependent and independent variables

In [4]:
y = data['Admitted']
x1 = data['Gender']

# Regression

In [5]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.572260
         Iterations 5

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Thu, 23 May 2019   Pseudo R-squ.:                  0.1659
Time:                        03:09:03   Log-Likelihood:                -96.140
converged:                       True   LL-Null:                       -115.26
                                        LLR p-value:                 6.283e-10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.6436      0.222     -2.901      0.004      -1.078      -0.209
Gender         2.0786      0.363      5.727      0.000       1.367       2.790
==============================================================================
"""

In [6]:
np.exp(2.0786)

7.993270498536442

In [7]:
y = data['Admitted']
x1 = data[['SAT','Gender']]

In [8]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Thu, 23 May 2019   Pseudo R-squ.:                  0.8249
Time:                        03:16:30   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
                                        LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -68.3489     16.454     -4.154      0.000    -100.598     -36.100
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
Gender         1.9449      0.846      2.299      0.022       0.287       3.603
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [9]:
np.exp(1.9449)

6.992932526814459

# Accuracy

In [10]:
np.set_printoptions(formatter={'float':lambda x: "{0:0.2f}".format(x)})
results_log.predict()

array([0.00, 1.00, 1.00, 0.23, 0.02, 0.99, 1.00, 1.00, 1.00, 0.01, 1.00,
       1.00, 0.76, 0.00, 0.60, 1.00, 0.11, 0.12, 0.51, 1.00, 1.00, 1.00,
       0.00, 0.01, 0.97, 1.00, 0.48, 0.99, 1.00, 0.99, 0.00, 0.83, 0.25,
       1.00, 1.00, 1.00, 0.31, 1.00, 0.23, 0.00, 0.02, 0.45, 1.00, 0.00,
       0.99, 0.00, 0.99, 0.00, 0.00, 0.01, 0.00, 1.00, 0.92, 0.02, 1.00,
       0.00, 0.37, 0.98, 0.12, 1.00, 0.00, 0.78, 1.00, 1.00, 0.98, 0.00,
       0.00, 0.00, 1.00, 0.00, 0.78, 0.12, 0.00, 0.99, 1.00, 1.00, 0.00,
       0.30, 1.00, 1.00, 0.00, 1.00, 1.00, 0.85, 1.00, 1.00, 0.00, 1.00,
       1.00, 0.89, 0.83, 0.00, 0.98, 0.97, 0.00, 1.00, 1.00, 0.03, 0.99,
       0.96, 1.00, 0.00, 1.00, 0.01, 0.01, 1.00, 1.00, 1.00, 0.00, 0.00,
       0.02, 0.33, 0.00, 1.00, 0.09, 0.00, 0.97, 0.00, 0.75, 1.00, 1.00,
       0.01, 0.01, 0.00, 1.00, 0.00, 0.99, 0.57, 0.54, 0.87, 0.83, 0.00,
       1.00, 0.00, 0.00, 0.00, 1.00, 0.04, 0.00, 0.01, 1.00, 0.99, 0.52,
       1.00, 1.00, 0.05, 0.00, 0.00, 0.00, 0.68, 1.00, 1.00, 1.00, 1.00,
       1.00, 0.00, 1.00, 1.00, 0.04, 1.00, 0.02, 1.00, 0.99, 0.97, 0.94,
       0.01, 0.00, 0.00])

In [11]:
np.array(data['Admitted'])

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

In [12]:
results_log.pred_table()

array([[69.00, 5.00],
       [4.00, 90.00]])

In [13]:
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ['Predicted 0', 'Predicted 1']
cm_df = cm_df.rename(index={0:'Actual 0', 1:'Actual 1'})
cm_df

          Predicted 0  Predicted 1
Actual 0         69.0          5.0
Actual 1          4.0         90.0

In [15]:
cm = np.array(cm_df)
accuracy_train = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_train

0.9464285714285714

# Testing the model and assessing its accuraccy

In [18]:
test = pd.read_csv('2.03. Test dataset.csv')
test

     SAT Admitted  Gender
0   1323       No    Male
1   1725      Yes  Female
2   1762      Yes  Female
3   1777      Yes    Male
4   1665       No    Male
5   1556      Yes  Female
6   1731      Yes  Female
7   1809      Yes  Female
8   1930      Yes  Female
9   1708      Yes    Male
10  1970      Yes  Female
11  2039      Yes  Female
12  1681      Yes  Female
13  1444       No    Male
14  1726       No    Male
15  1876      Yes  Female
16  1485       No    Male
17  1500       No  Female
18  1900      Yes    Male

In [19]:
test['Admitted'] = test['Admitted'].map({'Yes':1, 'No':0})
test['Gender'] = test['Gender'].map({'Female':1, 'Male':0})
test

     SAT  Admitted  Gender
0   1323         0       0
1   1725         1       1
2   1762         1       1
3   1777         1       0
4   1665         0       0
5   1556         1       1
6   1731         1       1
7   1809         1       1
8   1930         1       1
9   1708         1       0
10  1970         1       1
11  2039         1       1
12  1681         1       1
13  1444         0       0
14  1726         0       0
15  1876         1       1
16  1485         0       0
17  1500         0       1
18  1900         1       0

In [20]:
x

     const   SAT  Gender
0      1.0  1363       0
1      1.0  1792       1
2      1.0  1954       1
3      1.0  1653       0
4      1.0  1593       0
5      1.0  1755       1
6      1.0  1775       1
7      1.0  1887       1
8      1.0  1893       1
9      1.0  1580       0
10     1.0  1857       1
11     1.0  1880       1
12     1.0  1664       1
13     1.0  1364       0
14     1.0  1693       0
15     1.0  1850       1
16     1.0  1633       0
17     1.0  1634       0
18     1.0  1636       1
19     1.0  1855       1
20     1.0  1987       1
21     1.0  1997       0
22     1.0  1422       1
23     1.0  1508       1
24     1.0  1720       1
25     1.0  1879       0
26     1.0  1634       1
27     1.0  1802       0
28     1.0  1849       1
29     1.0  1764       1
..     ...   ...     ...
138    1.0  1412       1
139    1.0  1557       0
140    1.0  1821       0
141    1.0  1760       1
142    1.0  1685       0
143    1.0  1773       1
144    1.0  1826       1
145    1.0  1565       1
146    1.0  1510       0
147    1.0  1374       0
148    1.0  1402       0
149    1.0  1702       0
150    1.0  1956       1
151    1.0  1933       0
152    1.0  1832       0
153    1.0  1893       0
154    1.0  1831       1
155    1.0  1487       0
156    1.0  2041       1
157    1.0  1850       0
158    1.0  1555       1
159    1.0  2020       1
160    1.0  1593       0
161    1.0  1934       1
162    1.0  1808       0
163    1.0  1722       1
164    1.0  1750       0
165    1.0  1555       0
166    1.0  1524       0
167    1.0  1461       0

[168 rows x 3 columns]

In [21]:
test_actual = test['Admitted']
test_data = test.drop(['Admitted'], axis=1)
test_data = sm.add_constant(test_data)
test_data

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

    const   SAT  Gender
0     1.0  1323       0
1     1.0  1725       1
2     1.0  1762       1
3     1.0  1777       0
4     1.0  1665       0
5     1.0  1556       1
6     1.0  1731       1
7     1.0  1809       1
8     1.0  1930       1
9     1.0  1708       0
10    1.0  1970       1
11    1.0  2039       1
12    1.0  1681       1
13    1.0  1444       0
14    1.0  1726       0
15    1.0  1876       1
16    1.0  1485       0
17    1.0  1500       1
18    1.0  1900       0

In [22]:
def confusion_matrix(data, actual_values, model):
    
    pred_values = model.predict(data)
    bins = np.array([0,0.5,1])
    cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
    accuracy = (cm[0,0]+cm[1,1])/cm.sum()
    return cm, accuracy

In [23]:
cm = confusion_matrix(test_data, test_actual, results_log)
cm

(array([[5.00, 1.00],
        [1.00, 12.00]]), 0.8947368421052632)

In [24]:
cm_df = pd.DataFrame(cm[0])
cm_df.columns = ['Predicted 0', 'Predicted 1']
cm_df = cm_df.rename(index={0: 'Actual 0', 1 : 'Acutal 1'})
cm_df

          Predicted 0  Predicted 1
Actual 0          5.0          1.0
Acutal 1          1.0         12.0

In [25]:
print('Missclassification rage: '+str((1+1)/19))

Missclassification rage: 0.10526315789473684